*,
* {
  font-family: "Source Sans 3", sans-serif;
}

body {
  background-color: black;
  color: white;
  width: 100vw;
  overflow-x: hidden;
}

.title {
  font-size: 2vw;
}

.paragraph {
  font-size: 1.1vw;
  width: 60vw;
}

.pointer {
  cursor: pointer;
}
